// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#question {
  //border: 4px double black;
  .title {

  }
  .form {}
  .name {}
  .question_field {
    width: 320px;
  }
  .actions {}
}

#all_questions {

  .question {
    //border: 4px double black;
  }
}

.question_link {
  font-size: medium;
  font-weight: bold;
}

.answer_link {
  text-align: right;
}

#spoiler {
  padding: 4px;
  border-color: #52A9EB;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
  text-indent: 20px;
}

#table td {
  padding: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
}

#table2 td{
  word-wrap: break-word;
  text-overflow: ellipsis;
  padding: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
  height:auto;
}

#table3 td{
  word-wrap: break-word;
  text-overflow: ellipsis;
  padding: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(46, 82, 117, 0.60);
  height:auto;
}

.first {
  width: 100px;
}

.second {
  width: 300px;
}